@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "toastify-js/src/toastify.css";

@theme {
  --font-inter: "Inter", ui-sans-serif, system-ui;
  --breakpoint-xs: 30rem;
}

@layer base {
  *,
  ::before,
  ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: var(--font-inter);
    @apply bg-black text-white antialiased;
  }
  html {
    scroll-behavior: smooth;
  }

  button {
    @apply cursor-pointer;
    transition: all 0.2s ease;
  }

  button:hover {
    filter: brightness(0.9);
  }
  button:active {
    transform: scale(0.95);
  }

  input {
    outline: none;
  }

  button:disabled {
    @apply cursor-not-allowed opacity-50;
  }

  @keyframes shimmer-left-to-right {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }

  .animate-shimmer-left-to-right {
    transition: all 0.4s linear;
    background: linear-gradient(
      90deg, 
      #1f2937 0%,
       #374151 40%,
      #374151 45%,
      #1f2937 100% 
    );
    background-size: 300% 100%;
    animation: shimmer-left-to-right 5s linear infinite;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.icon-stroke {
  -webkit-text-stroke-width: 1px;
}
